---
layout: page
title: HelloSure
---

<div id="myCanvasContainer">
  <canvas width="700" height="400" id="myCanvas">
    <p>Anything in here will be replaced on browsers that support the canvas element</p>
  </canvas>
</div>

<div id="tags">
  <ul>
    {% for tag in site.tags %}
    <li>
      {% if tag[1].size == 1 %}
      <a style="color: #38B738; font-family: Trebuchet MS, Helvetica, sans-serif; font-size: 18px" href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag[0] }}-ref">{{ tag[0] }}</a>
      {% elsif tag[1].size < 4 %}
      <a style="color: #0066FF; font-family: Trebuchet MS, Helvetica, sans-serif; font-size: 25px" href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag[0] }}-ref">{{ tag[0] }}</a>
      {% elsif tag[1].size < 6 %}
      <a style="color: #9900CC; font-family: Trebuchet MS, Helvetica, sans-serif; font-size: 32px" href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag[0] }}-ref">{{ tag[0] }}</a>
      {% elsif tag[1].size < 8 %}
      <a style="color: #FF6666; font-family: Trebuchet MS, Helvetica, sans-serif; font-size: 40px" href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag[0] }}-ref">{{ tag[0] }}</a>
      {% elsif tag[1].size < 10 %}
      <a style="color: #6666FF; font-family: Trebuchet MS, Helvetica, sans-serif; font-size: 48px" href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag[0] }}-ref">{{ tag[0] }}</a>
      {% else %}
      <a style="color: #FFCC00; font-family: Trebuchet MS, Helvetica, sans-serif; font-size: 56px" href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag[0] }}-ref">{{ tag[0] }}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>


<p style="float:right; margin-top:8px; color:#0000FF; font-size:16px"><a href="/archive.html">更多文章 &nbsp&nbsp &raquo; &nbsp&nbsp </a></p>
<br></br>

<div>
    <ul>
        {% for post in site.posts limit:10 %}
          {% if forloop.index == 1 or forloop.index == 2 or forloop.index == 3 %}
            <li style="list-style-type:square; margin-top:8px; margin-bottom:8px; font-size:16px"> &nbsp <a href="{{ post.url }}">{{ post.title }}</a>
              <span style="color:#FF0000"> &nbsp new </span>
              <span style="float:right; color:#666666">&nbsp {{ post.date | date: "%Y-%m-%d" }}  &nbsp&nbsp</span>
            </li>
          {% else %}
            <li style="list-style-type:square; margin-top:8px; margin-bottom:8px; font-size:16px"> &nbsp <a href="{{ post.url }}">{{ post.title }}</a>
              <span style="float:right; color:#666666">&nbsp {{ post.date | date: "%Y-%m-%d" }}  &nbsp&nbsp</span>
            </li>
          {% endif %}
        {% endfor %}
    </ul>
</div>


